.title{
    font-weight: bold;
    font-size: 18px;
    margin: 8px 0;
    text-align: center;
  }
  .wrap{
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  
  .card3{
    border-radius: 4px;
    width: 140px;
    height: 270px;
    background: white;
    overflow: hidden;
    display: inline-block;
    margin-right: 12px;
    cursor: pointer;
  }
  .card3 img{
    height: 200px;
    width: 100%;
  }
  .card3 .name{
   font-weight: bolder;
    margin: 8px 8px 4px;
  }
  .card3 .date{
   margin-left: 8px;
  }
  